{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/feature-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Project Features</h1>
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
</section>

<section>
  {% for feature in feature_list %}
  <div>
      <div>
        <h2>{{ feature.name }}</h2>
        <p>{{ feature.difficulty }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}