{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if object %}
    <h1>Edit {{object.name}}</h1>
  {% else %}
    <h1>Add a Feature</h1>
  {% endif %}
  <img src="{% static 'images/Ocho.png' %}" alt="Folded Corner Checklist Image"/>
  <img src="{% static 'images/Doce.png' %}" alt="Checklist And Pencil Image"/>
  <img src="{% static 'images/Siete.png' %}" alt="Checklist Image"/>
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit"><i class="fas fa-check"></i></button>
</form>

{% endblock %}