{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/feature-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Features</h1>
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
</section>

<section class="card-container">
  {% for feature in feature_list %}
  <div class="card">
    <div class="card-bg"><br>
      <h2>{{ feature.name }}</h2>
      {% if feature.difficulty == 'I' %}
        <h2><br>Intermediate</h2>
      {% elif feature.difficulty == 'D' %}
        <h2><br>Difficult</h2>
      {% else %}
        <h2><br>Easy</h2>
      {% endif %}
    </div>
    <div>
      <a href="{% url 'features_update' feature.id %}" class="btn warn"><i class="far fa-edit"></i></a>
      <a href="{% url 'features_delete' feature.id %}" class="btn danger"><i class="fas fa-trash-alt"></i></a> 
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}