{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="edit-add">
  {% if object %}
    <h1>Edit {{object.name}}</h1>
  {% else %}
    <h1>Add a Project</h1>
  {% endif %} 
    <img 
    src="{% static 'images/Cinco.png' %}" 
    alt="Idea Clipboard Image"
    class="edit-add-img"/>    

    <img 
    src="{% static 'images/Uno.png' %}" 
    alt="Half Ligthbulb Settings Image"
    class="edit-add-img"/>

    <img 
    src="{% static 'images/Cuatro.png' %}" 
    alt="Ligthbulb Settings Image"
    class="edit-add-img"/>    
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit"><i class="fas fa-check"></i></button>
</form>

{% endblock %}