{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}
<div class="about">
  <h1>About Partum Project</h1>
  <hr />
  <h2>Quick Introduction</h2>
  <h3>
    Partum is a Latin word for 'Creative'. Therefore, 'Partum Project' just means 'Creative Project'. Latin isn't dead yet (well not completely) and neither are your project ideas.
  </h3><br>

  <h2>How it Works</h2>
  <h3>
    Partum Project lets you keep track of all of your projects. Add as many projects as you would like. If you click on a specific project you could see all of your details according to your project. Bonus: you can add a photo of your project! 
  </h3>
  <h3>
    Lets talk about features too! Every project can have a feature you could add. Whether it be adding glitter or implementing a light/dark mode feature to your website. It all depends on your type of project. Similarly to projects, you can add as many features as you want and say how complicated the feature is. For example, adding glitter to a project is pretty simple; the cleanup is another story. On the other hand, making a light and dark mode isn't as simple and would take more time to complete compared to adding glitter.
  </h3>

</div>
{% endblock %}