html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body { 
  --nav-bg: rgba(217, 249, 255, 0.742);
  --nav-bg-ff: rgba(217, 249, 255, 0.742);
  --borders: rgb(255, 255, 255) solid 2px;
  --text-color: rgb(17, 20, 17);
  --link-hover-color: rgb(16, 56, 158);
  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgb(226, 226, 226);
  --submit: rgb(26, 128, 0);
  --warn: rgb(255, 102, 0);
  --danger: rgb(220, 20, 30);
  --secondary: rgb(57, 57, 57);
  --card-box-shadow: 5px 6px 6px -1px rgba(221, 175, 245, 0.66);
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --card-border-radius: 16px;
  background-image: url("https://images.unsplash.com/photo-1566410824233-a8011929225c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  color: white;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

main {
  margin-top: 120px;
  width: 100%;
}

h2 {
  font-size: var(--font-xl);
}

header {
  position: fixed;
}

.page-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.btn {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

.page-header img {
  height: 40px;
  margin-left:15px;
}

.page-header img:first-of-type {
  margin-left: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(57, 0, 82, 0.605);
  margin: 10px;
  border: white solid 1px;
  border-radius: 15px;
 }

 .nav-links a {
  font-size: 20px;
  color: rgba(255, 20, 224, 0.666);
 }
 /* LOGO */
 .logo {
  font-size: 32px;
 }

 .logo * {
   color: white
 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  background-color: #fbcdffa8;
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
 }
 /* DROPDOWN MENU */
 .projects-links, .features-links {
  position:relative; 
 }

 .dropdown {
  background-color: rgba(250, 250, 250, 0.831);
  padding: 1em 0;
  position:absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
 }
 .dropdown li + li {
  margin-top: 10px;
 }
 .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }
 .dropdown li:hover {
  background-color: #fbcdffa8;
 }
 .projects-links:hover .dropdown {
  display: block;
 }
 .features-links:hover .dropdown {
  display: block;
 }

 input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

 #logo-img{
   width: 45px;
 }
 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
 .menu { 
  display:none;
  position: absolute;
  background-color:rgba(255, 255, 255, 0.81);
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  background-color:#fbcdffa8;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
 .dropdown {
  left: 50%;
  top: -50px;
  transform: translateX(35%);
 }
 .dropdown li:hover {
  background-color: #fbcdffa8;
 }
 }

@media only screen and (min-width: 768px) {
  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }
  
  .page-header img {
    height: 50px;
    margin-left:20px;
  }
  
  .page-header img:first-of-type {
    margin-left: 25px;
  }
}
