.card-container {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: -3;
  position: relative;
}

.card {
  width: 230px;
  height: 160px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  border-radius: 10px;
  background-color: rgba(43, 6, 43, 0.536);
  position: relative;
  z-index: -2;
  backdrop-filter: blur(6px);
}

.card-bg{
  position: absolute;
  display: inline-flex;
  top: 0;
  left: 20px;
  width: 100%;
  height: 100%;
}

.feature-actions {
  position: absolute;
  bottom: 20px;
  left: 50px;
  z-index: 1;
}