.form-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 8%;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
}

td > * {
  border-radius: 12px;
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.btn {
  align-self: flex-end;
  margin-right: 40px;
}

.edit-add,
.signup {
  display: flex;
  flex-direction: row;
}

.edit-add-img,
.signup-img {
  margin-left: 20px; 
  margin-top: 15px;
  height: 50px;
}

.edit-add > h1,
.signup > h1 {
  font-size: 30px;
}

.signup {
  margin-top: 50px;
}