.project-container {
  padding: 25px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.features-container {
  margin: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(150, 0, 150, 0.536);
  border: white solid .1px;
  position: relative;
}
.content {
  padding: 20px;
}

.feature-lists {
  display: flex;
  flex-direction: row;
}

.included {
  padding-left: 30px;
  width: 180px;
  overflow-y: auto;
  height: 200px;
  margin: 3px;
}

.available {
  margin: 3px;
  padding-left: 30px;
  height: 200px;
  width: 180px;
  border-left: white dashed 2px;
  overflow-y: auto;
}

.project-img * {
  width: 250px;
  margin-right: 20px;
}

.project-details {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  margin: 0;
  width: 350px;
  background-color: rgba(135, 27, 135, 0.386);
  border: white solid .1px;
}

.project-actions {
  margin-top: 20px;
}

.description {
  margin: 0;
  padding: 0 18px;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.feature-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.color-block {
  opacity: 0.8;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}


.project-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.project-details h2 {
  font-size: var(--font-xl);
  margin: 20px;
}

.project-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.project-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

.available > h3,
.included > h3 {
  font-size: 15px;
}

.available > p,
.included > p {
  font-size: 15px;
}

.feature-btn {
  padding: 4px 8px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
}


@media only screen and (min-width: 768px) {
  .project-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
  }
  .features-container {
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(150, 0, 150, 0.536);
    border: white solid .1px;
    position: relative;
    width: clamp(300px, 50%, 500px)
  }
  
}
