.project-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-img * {
  width: 250px;
  margin-right: 20px;
}

.project-details {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  margin: 0;
  width: 350px;
  background-color: rgba(135, 27, 135, 0.386);
  border: white solid .1px;
}

.project-actions {
  margin-top: 20px;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.feature-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.color-block {
  opacity: 0.8;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.unfed,
.fed,
.no-features,
.all-features {
  margin: 0;
  font-weight: bold;
}

.unfed,
.no-features {
  color: var(--danger);
}

.fed,
.all-features {
  color: var(--submit);
}

.project-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.project-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.project-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.feedings-feature-container > section {
  width: 80%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.feedings h2,
.features h2 {
  font-size: 3.2rem;
  margin: 0;
}

.feedings h3,
.features h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

.feedings table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.feedings td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.feedings th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;
}

.feedings tr:nth-child(even) {
  background-color: #f3f3fd;
}

.feature-container p {
  margin: 12px 0;
}

.feature-container a {
  text-decoration: none;
  color: #111;
}

.feature-container .btn {
  padding: 3px 10px;
  margin-left: 10px;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .project-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
  }
}
