{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/project-detail.css' %}"
/>
<script defer src="{% static 'js/cat-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section>
  <div>
    {% if project.photo.url %}
      <img 
        src="{{ project.photo.url }}" 
        alt="A photo of {{ project.name }}"
      >
    {% else %}
      <img 
        src="{% static 'images/femalesolar.jpeg' %}" 
        alt=""
      >
    {% endif %}
  </div>
  <div>
    <h1>{{ project.name }}</h1>
    <p>{{ project.progress }}</p>
    <div>
      <a href="{% url 'projects_update' project.id %}">Edit</a>
      <a href="{% url 'projects_delete' project.id %}">Delete</a>
    </div>
    <h3>Change {{ project.name }}'s photo</h3>
    <p></p>
    <form 
      action="{% url 'add_photo' project.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>

<section>
  <div>
    <h2>Features</h2>
    <img src="{% static 'images/' %}" alt="" />
    <img src="{% static 'images/' %}" alt="" />
    <img src="{% static 'images/' %}" alt="" />
  </div>
  <h3>Features Included</h3>
  <div>
    {% if project.features.count %}
      {% for feature in project.features.all %}
        <div>
          <p>{{ feature.name }} - {{ feature.difficulty }}</p>
          <form action="{% url 'unassoc_feature' project.id feature.id %}" method="post">
            {% csrf_token %}
              <button type="submit" class="btn submit">Remove Feature</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p> There are no Features </p>
    {% endif %}
  </div>
  <h3>Available Features</h3>
  <div>
    {% if features.count %}
      {% for feature in features.all %}
        <div>
          <p>{{ feature.name }} - {{ feature.difficulty }}</p>
          <form action="{% url 'assoc_feature' project.id feature.id %}" method="post">
            {% csrf_token %}
              <button type="submit" class="btn submit">Add Feature</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p>
        You have added all available features to this project
      </p>
    {% endif %}
  </div>
</section>


{% endblock %}