{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/project-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="project-container">
  <div class="project-img">
    {% if project.photo.url %}
      <img 
        src="{{ project.photo.url }}" 
        alt="A photo of {{ project.name }}"
      >
    {% else %}
      <img 
        src="{% static 'images/default-img.jpeg' %}" 
        alt="Default Project Image"
      >
    {% endif %}
  </div>
  <div class="project-details">
    <h1>{{ project.name }}</h1>
    <p>{{ project.start_date }} - {{ project.end_date }}</p>
    <div class="project-actions">
      <a href="{% url 'projects_update' project.id %}" class="btn warn"><i class="far fa-edit"></i></a>
      <a href="{% url 'projects_delete' project.id %}" class="btn danger"><i class="fas fa-trash-alt"></i></a>
    </div>
    <h3>Change {{ project.name }}'s photo</h3>
    <form 
      action="{% url 'add_photo' project.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        <i class="far fa-images"></i>
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit"><i class="fas fa-arrow-circle-up"></i></button>
    </form>
  </div>
</section>

<section class="project-container">
  <div class="project-details">
  <h2>Description:</h2>
  <h3 class="description">{{ project.description}}</h3>
  </div>
</section>


<section class="features-container">
<div class="content">
  <div>
    <h2 class="feature-title">Features:</h2>
  </div>

  <div class="feature-lists">
    <div class="included">
      <h3>Features Included:</h3>
      <div>
        {% if project.features.count %}
          {% for feature in project.features.all %}
            <div>
              <p class="name-difficulty">{{ feature.name }} - {{ feature.difficulty }}</p>
              <form action="{% url 'unassoc_feature' project.id feature.id %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="feature-btn danger"><i class="fas fa-minus"></i></button>
              </form>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-features"> There are no Features Included</p>
        {% endif %}
      </div>
    </div>

    <div class="available">
      <h3>Available Features:</h3>
      <div>
        {% if features.count %}
          {% for feature in features.all %}
            <div>
              <p class="name-difficulty">{{ feature.name }} - {{ feature.difficulty }}</p>
              <form action="{% url 'assoc_feature' project.id feature.id %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="feature-btn submit"><i class="fas fa-plus"></i></button>
              </form>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-features">
            You have added all available features to this project
          </p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}