{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project-index.css' %}"/>
{% endblock %}

{% block content %}

<section>
  <h1>Project List</h1>
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
</section>

<section>
  {% for project in projects %}
    <div>
      <div>
        <div>
          <img 
            src="{% static 'images/' %}" 
            alt=""
          >
        </div>
        <h2>{{ project.name }}</h2>
        <p><small>{{ project.progress }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}